.products-table {
  margin-top: 30px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.products-table-heading-tr {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 70px 0 460px;
}
.products-table-tr {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.products-table th {
  padding: 20px;
}
.products-table td {
  padding: 20px;
  display: flex;
  align-items: center;
}
.products-table-img {
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.products-table-btn {
  background-color: var(--blue);
  color: white;
  padding: 8px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}
.edit-products-form-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  background-color: #f4f4f4;
  padding: 0 20px;
  border-radius: 10px;
}
.edit-products-input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 8px 10px;
}
