
.delete-modal {
  background-color: white;
  padding: 50px;
  text-align: center;
}
.delete-modal h1 {
  font-size: 2rem;
}
.del-modal-btns {
  display: flex;
  gap: 20px;
}
.del-modal-btn {
  width: 100%;
  margin-top: 30px;
  font-size: 1.5rem;
  padding: 18px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.del-accept-btn {
  background-color: var(--blue);
  color: white;
}