.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.admin-profile img {
  width: 50px;
  border-radius: 50%;
}
.admin-profile div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.admin-profile div h1 {
  font-size: 1.2rem;
}
.admin-profile div h3 {
  color: #858585;
}
.header-left {
  display: flex;
  gap: 20px;
}
.searchbox {
  background-color: var(--white);
  border-radius: 15px;
  width: 400px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.searchbox input {
  border: none;
  outline: none;
  background-color: unset;
  width: 100%;
  font-size: 1.1rem;
  padding: 10px 20px 10px 10px;
}
.searchbox button {
  background-color: var(--blue);
  color: white;
  width: 135px;
  font-size: 1.1rem;
  padding: 3px 20px;
  display: flex;
  border-radius: 10px;
}
.header-left-icons{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    width: 40px;
    height: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
