.products-main{
    margin-top: 60px;
}
.products-title{
    font-size: 2rem;
}
.add-products-form{
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border-radius: 20px;
}
.add-products-form-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 15px;
}
.add-products-form-group{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
}
.add-products-input{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 8px 10px;
    font-size: 1.1rem;
    width: 100%;
}
.add-products-btn{
    background-color: var(--blue);
    color: white;
    padding:10px 20px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}