@import url('./reset.css');
@font-face {
    font-family: iransans;
    src: url('./assets/font/IRANSans.ttf');
}
:root{
    --white:#fff;
    --white-50:#f0f0f0;
    --blue:#471aaa;
}
body{
    background-color: var(--white-50);
}
*,body,html{
    font-family: iransans;
    color: black;
}